@mixin commonBtn {
  height: fit-content;
  width: fit-content;
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 5px;
  transition: ease-in-out, 0.1s;
  color: #6c81c9;
  background-color: #dfe1e7;

  &:hover {
    color:white;
    background-color: #6c81c9;
    border-color: #6c81c9;
  }
}
